mixin annotated-name(given, family)
  p.name
    span.name__name.name__name--given= given
    span.name__punctation= " "
    span.name__annotation.name__annotation--given (given name)
    span.name__punctation= " "
    span.name__name.name__name--family= family
    span.name__punctation= " "
    span.name__annotation.name__annotation--family (family name)

- const title = "‘Shiv Jha-Mathur’: Demystifying The Hyphen";
doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="A handy guide to using my name.")
    link(href="/assets/styles/index.css" rel="stylesheet" type="text/css")
  body
    main
      h1= title
      p Hello. My legal name is #[q.full Shiv Jha Mathur]:
      +annotated-name("Shiv", "Jha Mathur")
      p In other words, I have a two-part last name and a solitary first name. I do not have a middle name or two first names. Outside of legal documents, I usually shorten it to #[q Shiv J.M.] or add a hyphen to indicate that #[q Jha] and #[q Mathur] #[strong must] be kept together, making it #[q.full Shiv Jha-Mathur]:
      +annotated-name("Shiv", "Jha-Mathur")
      p Having encountered many different corruptions of it over the years, I should emphasize that #[strong my name is not]:
      ul.incorrect
        for name in names.incorrect
          li= name
    footer
      | Built with #[a(href="https://pugjs.org/") Pug] and #[a(href="https://www.11ty.dev/") 11ty] (#[a(href="https://gitlab.com/shivjm-www/shivjm-name/") source on GitLab]). Hosted by #[a(href="https://www.netlify.com/") Netlify].
